<script>
  import Nav from "../components/Nav.svelte"
  import Editor from "../components/Editor.svelte";
  import solution from "./solution.pl";
</script>

# Day 4

_2020-01-23_

[Problem](https://adventofcode.com/2020/day/4)

## Solution

<Editor text={solution} />

## Index

<Nav />
