[Unit]
Description=uWSGI serrver instance configured to serve secret
After=network.target

[Service]
User=anthony
Group=www-data
WorkingDirectory=/home/anthony/secret
ExecStart=/usr/local/bin/uwsgi --ini secret.ini --file wsgi.py

[Install]
WantedBy=multi-user.target

