# Advent of Code 2020

I'm trying out advent of code, far past it's due date. I'll be using Prolog
along the way. I may try to write something with
[Tau Prolog](http://tau-prolog.org)
and some Javascript at some point.
